# Ignore database files
*.db

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore node_modules
frontend/node_modules/

# Ignore build output
build/
dist/

# Other potential files to ignore
.DS_Store  # macOS specific
*.log      # Log files
coverage/  # Test coverage results
